

<h3>Delete Language</h3>
<div>

  

    <form asp-action="DeleteLang" method="post">
        <input type="hidden" name="lngid"/>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <a asp-action="LangIndex">Back</a>
</div>