@model FirstPro.ViewModels.PersonDetailsViewModel


@{
    ViewData["Title"] = "Ajax";
   
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">City</th>

        </tr>
    </thead>
    <tbody>

       @foreach(var person in @Model.personList){
            <tr>


                <partial name="~/Views/shared/_PartialPerson.cshtml" model="@person" />
               

            </tr>
        }

    </tbody>
</table>

    </div>
</div>