@model FirstPro.Models.Person


@{
    ViewData["Title"] = "Create";
}


<h2>Create Person</h2>
<hr />

<form action="Create" method="post">
            <div>
                <div class="form-group">
            <input type="text" class=" form-control " name="Name" value="" placeholder="Name" style="width:auto">
                </div>
                <div class="form-group">
            <input type="text" class=" form-control " name="PhoneNumber" value="" placeholder="PhoneNumber" style="width:auto">
                </div>
                <div class="form-group">
            <input type="text" class=" form-control " name="CityId" value="" placeholder="CityId" style="width:auto">
                </div>
                <div class="form-group">
            <input class="btn btn-secondary " id="submit" type="submit" value="Create">
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

