@model FirstPro.Models.Person

<h3>Delete Person</h3>
<div>

    <h3>Are you sure you wanna Delete @Model.Name</h3>

    <form asp-action="Delete" method="post">
        <input type="hidden" name="perId" value="@Model.PersonId"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
        <a asp-action="Details">Back to List</a>
</div>