@model FirstPro.ViewModels.PersonDetailsViewModel




        <th scope="row">@Model.PersonId</th>

        <td> @Model.Name</td>

        <td> @Model.PhoneNumber</td>

        <td> @Model.City</td>



